.carousel-item{
    width: 40%;
    height: 0px;
    margin-right: 30%;
    margin-left: 30%;
}

 .carousel-inner{
    text-align: center;
    justify-content: center;
    background: #000000;
}

.w-100 {
    width: 35rem!important;
    height: 32rem;
}  