.ant-card-body {
    padding: 0 !important;
    padding-top: 20px;
    zoom: 1;
}

.card {
    border:transparent;
    margin: 1.5rem;
    cursor: pointer;
    text-align: left;
    font-size: 12pt;
    color: black;

}