<div class="row">
    <div *ngFor="let property of getProperties()">
        <div class="row">
            <a routerLink="/property/{{property.getId()}}">
                <div class="col-xs-10" >
                    <div class="card" style="width: 260px;">
                        <img src="{{property.photos[0].path}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h6 style="margin-bottom: 5px;">{{property.name}}</h6>
                        <p class="card-text">{{property.description}}</p>
                        <p class="card-value"> <b>R${{property.value}}</b> </p>
                        </div>
                    </div>
                </div>   
            </a>
        </div>
    </div>
</div>
