<div class="row">
    <div *ngFor="let property of getProperties()">
        <div class="row">
            <div class="col-xs-10" >
                <nz-card class="card" style="width: 260px;" [nzCover]="coverTemplate">
                    <nz-card-meta
                        class="meta"
                        nzTitle="{{property.name}}"
                        nzDescription="{{property.description}}">
                    </nz-card-meta>
                </nz-card>
                <ng-template style="height:20px"  #coverTemplate>
                    <img alt="{{property.name}}" src="{{property.photos[0].path}}"/>
                </ng-template>
            </div>   
        </div>
    </div>
</div>
