<p> Meus Anuncios </p>
<div class = "button">
    <button nz-button nzType="primary" (click)="a">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Novo Anúncio
    </button>
</div>
<div class="row">
        <div class = "card" *ngFor="let property of getProperties()">
                <div class = "col-xs-4">
                    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate"[nzActions]="[actionSetting, actionEdit, actionEllipsis]">
                        <nz-card-meta nzTitle="Casa" nzDescription="Descrição"></nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                        <img alt="example" src="https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1439011784/p/photo/image/455481/DSC_1225.jpg" />
                    </ng-template>
                    <ng-template #actionEdit>
                        <i nz-icon nzType="edit"></i>
                    </ng-template>
                    <ng-template #actionEllipsis>
                        <i nz-icon nzType="delete"></i>
                    </ng-template>
                </div>
            </div>

</div>
    


     
      
    