<div>
    <nz-header>
        <div class="header">
            <div class="row">
                <app-search-bar class="search-bar"></app-search-bar>
            </div>
        </div>
    </nz-header>
    <div class="container">
        <div class="section" >
            Informações
        </div>        
        <div class="section">
            <app-find></app-find>
        </div>    

        <!--Properties type-->>
        <div class="section">
            <div class="row type">
                <h3>Casas</h3>
            </div>
            <div class="row type">
                <app-property-list [limit]=3 [properties]="getProperties()"></app-property-list>
            </div>
        </div>

        <div class="section">
            <div class="row type">
                <h3>Apartamentos</h3>
            </div>
            <div class="row type">
                <app-property-list [limit]=3 [properties]="getProperties()"></app-property-list>
            </div>
        </div>
        <div class="section">
            <div class="row type">
                <h3>Ponto Comercial</h3>
            </div>
            <div class="row type">
                <app-property-list [limit]=3 [properties]="getProperties()"></app-property-list>
            </div>
        </div>
        <div class="section">
            Informações
        </div>        
    </div>
</div>
