.row {
    justify-content: center;
}

nz-header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('https://cjs.zapcorp.com.br/Content/img/home/fundo-zap-busca.jpg');
    width: 100%;
    height: 22rem;
    padding: 0;
}

.header{
    color: #fff;
    padding: 5rem;
    background-color:rgba(47, 42, 36, 0.36);
    width: 100%;
    height: 100%;
    margin: 0;

}

.section{
    width: 100%;
}

.search-bar {
    width: 80%;
}

.type{
    justify-content: left;
}

.slogan{
    color: #fff;
}

.advertise{
    align-items: center;
}
.divider{
    margin: -10px;
}


.advertiseHeaderSectionDescription{
    color: #fff;
}

.advertiseHeaderSection{
    text-align: center;
    color: #fff;


}

.downButton{
    width: 45px; 
    height: 45px; 
    line-height: 45px; 
    text-align: center; 
    background-color: #fff;
    color: #ff5a00;
    font-size: 24px;
    border-radius: 50%; 
    position: absolute;
    bottom: -22px;
    left: 50%;
    margin-left: -22.5px;
    cursor: pointer;
    z-index: 10;
    content: "\e62e";
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

.howToUse{
    padding: 5rem;
    margin: 0px;
    width: 100%;
    height: 300px;
}
