<div>
    <nz-header>
        <div class="header">
            <div class="row">
                <app-search-bar class="search-bar"></app-search-bar>
            </div>
            <div class="row">
               <h3 class="slogan">Busque o imóvel ideial para a sua necessidade!</h3>
            </div>
            <div class="row">
                <div class="advertiseHeaderSection">
                    <h5 class="advertiseHeaderSectionDescription">Divulgue seu imóvel parado conosco</h5>
                    <button class="btn btn-primary advertise">Anunciar</button>
                </div>
            </div>
        </div>
    </nz-header>
    <nz-divider class="divider" [nzText]="dividerIcon">
        <ng-template #dividerIcon>
            <span class="downButton"><i class="fas fa-chevron-down"></i></span>
        </ng-template>
    </nz-divider>
    <div class="row howToUse">
        <div class="col step"> 
            <i class="fa fa-search iconHowto"></i>
            <h3 class="stepTitle">Pesquise</h3>
        </div>
        <div class="col step"> 
            <i class="fa fa-map-marked iconHowto"></i>
            <h3 class="stepTitle">Encontre</h3>
        </div>
        <div class="col step"> 
            <i class="fas fa-handshake iconHowto"></i>
            <h3 class="stepTitle">Contrate!</h3>
        </div>
    </div> 
    <div class="container">       
        <div class="section">
            <div class="row type">
                <h3>Descubra</h3>
            </div>
            <div class="row type">
                <app-find></app-find>
            </div>
        </div>    
        <!--Properties type-->
        <div class="section">
            <div class="row type">
                <h3>Casas</h3>
            </div>
            <div class="row type">
                <app-property-list limit=4 [properties]="getProperties()"></app-property-list>
            </div>
        </div>

        <div class="section">
            <div class="row type">
                <h3>Apartamentos</h3>
            </div>
            <div class="row type">
                <app-property-list limit=4 [properties]="getProperties()"></app-property-list>
            </div>
        </div>
        <div class="section">
            <div class="row type">
                <h3>Pontos Comerciais</h3>
            </div>
            <div class="row type">
                <app-property-list limit=4 [properties]="getProperties()"></app-property-list>
            </div>
        </div>   
    </div>
    <div class="info">
    </div>     
</div>
