  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">House Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul nz-menu nzMode="horizontal" class="navbar-nav" id="left">
        <li nz-menu-item routerLink="home" routerLinkActive="home">
          <i class="fas fa-home"></i>
          Início
        </li>
        <!--<li nz-menu-item routerLink="search-form" >
          <i nz-icon nzType="appstore"></i>
          Categoria
        </li>
        <li nz-menu-item routerLink="property-register">
          <i class="fas fa-bullhorn"></i>
          Anunciar
        </li>
        <li nz-menu-item routerLink="find">
          <i class="fas fa-search"></i>
          Descubra
        </li>-->
      </ul>
      <ul nz-menu nzMode="horizontal" class="navbar-nav" id="right">
        <li nz-menu-item routerLink="user-register">
          <i class="fas fa-user-plus"></i>
          Registrar usuário
        </li>
        <li nz-menu-item routerLink="login">
          <i class="fas fa-sign-in-alt"></i>
          Entrar
        </li>
      </ul>
    </div>
  </nav>
