nz-header {
    position: fixed;
    width: 100%;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 15;
}

.collapse {
    justify-content: flex-end;
}


.navbar-nav {
    background-color:  #007bff;
    text-shadow: -1px 1px 2px #0000007d;
    color: white;
}

.navbar-nav#left {
    margin-right: auto;
    margin-left: 5%;
}

nz-submenu {
    float: left;
}

.bg-light {
    background:  #007bff !important;
    transition: 1.2s;
}

nav {
    padding: .5rem 2rem;
}

nav.black {
    z-index: 15;
    background: #007bff !important;
    box-shadow: 0px 0px 13px 1px rgb(27, 20, 100);
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -1px 1px 2px #0000007d;
}

.ant-menu-horizontal {
    border-bottom: 0;
}    

.anticon {
    vertical-align: 1.5px;
    box-shadow: 0px 0px 2px 0px #00000047;
}

/* edite less*/
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #d3c2c2;
    border-bottom: 2px solid #cdd6dd;
}