
  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
    color: black
  }

  nz-breadcrumb {
    margin: 16px 0;

  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .icon-wrapper {
    position: relative;
    padding: 0px 30px;
  }

  #price{
    padding-left: 24px;
  }
  .card{
    margin: 1.5rem;
}
[nz-form] {
  max-width: 600px;
}
nz-input-number {
  margin-right: 10px;
}

.type{
  width: 100%;
  padding: 2rem;
  justify-content: center;
}

body{
  background-color: aliceblue;
}

.inner-layout {
  background-color:rgba(250, 250, 250, 0.692);
}