<div class="row"> 
  <div class = "propertyType">  
      <a href="//www.google.com" class="image image-a" lurker="primeira imagem">
        <p class = "font-weigth-light semi-small" > Encontre seu lar! </p>
        <p class = "h3 mt-0"> Casas para alugar ou vender</p>
      </a>
      <a href ="//www.google.com" class="image image-b"  lurker="segunda imagem">
        <p class = "font-weigth-light semi-small"> A praticidade de um "apê"! </p>
        <p class = "h3 mt-0"> Apartamentos</p>
      </a>
      <a  href="//www.google.com" class="image image-c" lurker="terceira imagem">
        <p class = "font-weigth-light semi-small"> Dê um "start" no seu negócio! </p>
        <p class = "h3 mt-0"> Pontos Comerciais</p>
      </a>
      <a href="//www.google.com" class="image image-d" lurker="quarta imagem">
        <p class = "font-weigth-light semi-small">Imóvel parado?</p>
        <p class = "h3 mt-0"> Anuncie Conosco! </p>
      </a>
  </div>
</div>