<div class="row"> 
  <div class = "propertyType">  
      <a routerLink="/result-page" class="image image-a" lurker="primeira imagem">
        <div class="content">
          <p class = "font-weigth-light semi-small description" > Encontre seu lar! </p>
          <p class = "h3 mt-0 title"> Casas para alugar ou vender</p>
        </div>
      </a>
      <a routerLink="/result-page" class="image image-b"  lurker="segunda imagem">
        <div class="content">
          <p class = "font-weigth-light semi-small description"> A praticidade de um "apê"! </p>
          <p class = "h3 mt-0 title"> Apartamentos</p>
        </div>
      </a>
      <a  routerLink="/result-page" class="image image-c" lurker="terceira imagem">
        <div class="content">
          <p class = "font-weigth-light semi-small description"> Dê um "start" no seu negócio! </p>
          <p class = "h3 mt-0 title"> Pontos Comerciais</p>
        </div>
      </a>
      <a routerLink="/ad-steps" class="image image-d" lurker="quarta imagem">
        <div class="content">
          <p class = "font-weigth-light semi-small description">Imóvel parado?</p>
          <p class = "h3 mt-0 title"> Anuncie Conosco! </p>
        </div>
      </a>
  </div>
</div>