
    <nz-layout class="layout">
        <div *ngIf="!showProfile">
          <div *ngIf="isHome">
              <app-menu-initial ></app-menu-initial>
          </div>
          <div *ngIf="!isHome">
              <app-main-menu ></app-main-menu>
          </div>
        </div>
        <div *ngIf="showProfile">
          <app-menu-profile ></app-menu-profile>
        </div>
      <nz-content>    
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
        <nz-footer>
            <div class="footer">
              <div class="row">
                <p style="font-size: 24px; color: white">Links úteis:</p>
                <p ><a href="" style="color: white; line-height: 3; padding-left: 0.5rem;">anuncie conosco </a></p>
                <p><a href="" style="color: white; line-height: 3; padding-left: 0.5rem;">|  Descubra: casas, apartamentos e pontos comerciais </a></p>
              </div>
              <div class="row" style="color: withe;">
                <p style="color: white"> A maior parte das categorias no HouseMarket são de livre visualização. No entanto, a fim de assegurar um serviço de qualidade e segurança, algumas categorias exigem login para postar.</p>
              </div>
              <div class="row" style="color: withe;">
                <p style="color: white">HouseMarket ®corpyright</p>
              </div>
            </div>
          </nz-footer>
      </nz-content>
    </nz-layout>