
    <nz-layout class="layout">
        <div *ngIf="!showProfile">
          <div *ngIf="isHome">
              <app-menu-initial ></app-menu-initial>
          </div>
          <div *ngIf="!isHome">
              <app-main-menu ></app-main-menu>
          </div>
        </div>
        <div *ngIf="showProfile">
            <div *ngIf="isHome">
                <app-menu-profile ></app-menu-profile>
            </div>
            <div *ngIf="!isHome">
                <app-menu-main-user></app-menu-main-user>
            </div>
        </div>
      <nz-content>    
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
        <nz-footer>
            <div class="footer">
                <div class="pure-u-1-4" style="width: 25%;">
                    <div class="pure-s">
                        <p class="footer-info-title" style="color: white">Informação</p>
                        <hr>
                        <ul>
                            <li>
                            <a rel="nofollow" routerLink="ad-steps" style="color: white">Anuncie aqui</a>
                            </li>
                            <li>
                              <a rel="nofollow" routerLink="result-page" style="color: white">Descubra</a>
                            </li>
                            <li>
                              <a rel="nofollow" routerLink="result-page" style="color: white">Casas</a>
                            </li>
                            <li>
                              <a rel="nofollow" routerLink="result-page" style="color: white">Apartamentos</a>
                            </li>
                            <li>
                              <a rel="nofollow" routerLink="result-page" style="color: white">Pontos comerciais</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </nz-footer>
      </nz-content>
    </nz-layout>