<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">
        <img src="../../../assets/Logo.svg" width="80px" height="40px" style="color: withe;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul nz-menu nzMode="horizontal" class="navbar-nav mr-auto">
            <li nz-menu-item routerLink="home">
            <i nz-icon nzType="mail"></i>
            Início
            </li>
            <li nz-menu-item routerLink="user-favorite" routerLinkActive="user-favorite">
            <i nz-icon nzType="appstore"></i>
            Favorito
            </li>
            <li nz-menu-item routerLink="result-page">
            <i nz-icon nzType="setting"></i> 
            Anúncios
            </li>
            <li nz-menu-item routerLink="user-profile">
            <i nz-icon nzType="profile"></i> 
            Perfil
            </li>
        </ul>
        <ul nz-menu nzMode="horizontal" class="navbar-nav mr-auto">
            <li nz-menu-item>

            </li>
        </ul>
    </div>
</nav>
  

  
